:root {
  --font-bitter: "Bitter", serif;
  --font-josefin: "Josefin Sans", sans-serif;
  --font-crimson: "Crimson Text", serif;
}

body {
  background-color: #000;
}
.container {
  padding: 0 63px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
/* header */
header {
  position: fixed;
  mix-blend-mode: difference;

  z-index: 1;
  top: 0;
  width: 100%;
  padding: 40px 0;
}
header .container {
  max-width: 100%;
}
.header_wrap {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 263px;
}
.menu_btn {
  width: 50px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.menu_bar {
  width: 100%;
  height: 8px;
  border-radius: 50px;
  background-color: #fff;
}
/* hero */
.hero {
  height: 100vh;
  width: 100%;
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* marquee */
.marquee .container {
  padding: 0;
}
.marquee_bar_wrap {
  background-color: #00ff2b;
  padding: 10px 0;
  overflow: hidden;
}
.marquee_bar {
  display: flex;
  align-items: center;
  width: 300%;
  animation: marquee 60s infinite linear;
}
.marquee_bar span {
  white-space: nowrap;
  font-family: var(--font-crimson);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #000;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
/* banner */
.banner {
  width: 100%;
  height: 500px;
}
.banner .container {
  padding: 0;
}
.banner_bg {
  width: 100%;

  height: 100%;
  background: url(/asset/imgs/banner.png) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_bg h3 {
  font-size: clamp(26px, 3vw, 60px);
  font-style: normal;
  font-weight: 700;
  color: #fff;
  overflow: hidden;
}
/* slogan */
.slogan {
  height: 100vh;

  overflow: hidden;
  padding: 160px 0;
}
.slogan_wrap {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.r_img {
  position: absolute;
  top: 100px;
  width: 257px;
  right: 60px;
  animation: rotate 60s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-slot h3 {
  white-space: nowrap;
  font-size: 160px;
  font-style: normal;
  font-weight: 400;
  color: #00ff2a;
}
.text-slot:nth-child(1) {
  text-align: left;
}
.text-slot:nth-child(2) {
  text-align: center;
}
.text-slot:nth-child(3) {
  text-align: right;
}
/* slogan_2 */
.slogan_2 {
  width: 100%;
  height: 100vh;
  position: relative;
}
.slogan_2 canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.slogan2_wrap {
  position: relative;
  z-index: 1;
}
.slogan2_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.slogan2_wrap h3 {
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  font-size: 80px;
  font-size: clamp(35px, 5vw, 80px);
  color: #00ff2a;
}
.slogan2_wrap p {
  font-size: clamp(20px, 4vw, 60px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  text-align: center;
}
.slogan2_wrap p span {
  color: #00ff2a;
  display: inline-block;
}
article {
  position: relative;
}
/* portfolio */
.portfolio {
  padding: 80px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: -100vh;
}
.portfolio_wrap {
  overflow: hidden;
}
.swiper-slide {
  width: 660px !important;
}

/* slogan_3 */
.slogan_3 {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slogan_3_wrap {
  display: flex;
  align-items: center;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(0%, -50%);
  gap: 54px;
}
.slogan_3_wrap h3 {
  white-space: nowrap;
  font-family: var(--font-josefin);
  font-size: 114px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}
.slogan_3_wrap .quote {
  font-size: 114.338px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-family: var(--font-bitter);
  color: #fff;
}
.rolling_wrap {
  overflow: hidden;
  position: relative;
}
.rolling_wrap::before {
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, #000, #00000000);
  position: absolute;
  content: "";
  top: 0;
  z-index: 1;
  left: 0;
}

.rolling_wrap::after {
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, #000 60%, #00000000);
  position: absolute;
  content: "";
  bottom: -17%;
  left: 0;
  z-index: 1;
}
.rolling {
  transform: translate(0, 35%);
}
.rolling_text {
  font-size: 114.338px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-family: var(--font-bitter);
  color: #00ff2a;
}

/* portfolio2 */
.portfolio2_wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.portfolio2_wrap li img {
  height: 100%;
  object-fit: cover;
}

/* slogan_4 */
.slogan_4 {
  height: 100vh;
  padding: 163px 0;
}
.slogan_4 .container {
  max-width: calc(1432px + 126px);
}
.slogan_4_wrap {
  display: flex;
  flex-direction: column;
  gap: 93px;
  height: 100%;
}
.slogan_4_text h3 {
  font-size: clamp(16px, 4vw, 60px);
  font-style: normal;
  font-weight: 400;

  line-height: normal;
  color: #fff;
}
.slogan_4_bar {
  flex: 1;
  clip-path: inset(0 0 100% 0);
  width: 1px;
  background-color: #4eb45f;
}
/* cs */
.contactus {
  padding-bottom: 80px;
}
.contactus .container {
  max-width: calc(1432px + 126px);
}
.contactus_wrap {
  display: flex;

  align-items: center;
  gap: 110px;
}
.contactus_form h3 {
  font-size: clamp(20px, 4vw, 60px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.contactus_form span {
  font-size: clamp(20px, 4vw, 60px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
#contact-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contact-form input {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 20px;
  color: #fff;
}
.contact_name,
.contact_phone,
.contact_etc {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact_name span,
.contact_phone span,
.contact_etc span {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
textarea {
  outline: none;
  width: 100%;
  height: 251px;
  resize: none;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 20px;
  color: #fff;
}
.contact_btn {
  width: 615px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
  background-color: #00ff2a;
}
.contact_btn span {
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}
.contactus_video {
  flex: 1;
  height: 821px;
}
.contactus_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* footer */
footer {
  padding: 20px 0;
  border-top: 1px solid #c9c9c938;
}
.footer_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.footer_wrap p {
  font-size: 14px;
  color: #757575;
}
/* .cursor {
  border-radius: 50px;
  border: 1px solid #fff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  mix-blend-mode: difference;
  z-index: 1;
  background-color: #fff;
  will-change: transform;
  pointer-events: none;
}
body {
  cursor: none;
} */
@media all and (max-width: 1279px) {
  .text-slot h3 {
    font-size: 120px;
  }
  .r_img {
    position: absolute;
    top: 25px;
    width: 125px;
    right: 25px;
    animation: rotate 60s infinite linear;
  }
  .banner {
    height: 300px;
  }
  .slogan_3_wrap {
    width: 100%;
    height: auto;
    top: 50%;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -25%);

    flex-direction: column;
  }
  .rolling {
    transform: translate(0, 0%);
    padding: 10px 0;
  }
  .rolling li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rolling_wrap::before {
    width: 100%;
    height: 5%;
    background: linear-gradient(to bottom, #000, #00000000);
    position: absolute;
    content: "";
    top: 0;
    z-index: 1;
    left: 0;
  }

  .rolling_wrap::after {
    width: 100%;
    height: 90%;
    background: linear-gradient(to top, #000 60%, #00000000);
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .contactus_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .contactus_video {
    order: -1;
  }
  .contactus_video,
  .contactus_form {
    width: 100%;
  }
  .contact_btn {
    width: 100%;
  }
  .contactus_video video {
    height: 50%;
  }
  /* .slogan2_wrap h3 {
    font-size: clamp(30px, 3vw, 60px);
  } */
}
@media all and (max-width: 768px) {
  header {
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0px;
  }
  .header_wrap {
    height: 100%;
  }
  .menu_btn {
    width: 24px;
    height: 18px;
  }
  .menu_bar {
    height: 3px;
  }
  .logo {
    width: 60px;
  }
  .slogan {
    height: auto;
  }
  .r_img {
    width: 80px;
    top: -120px;
  }
  .slogan_wrap {
    justify-content: center;
    gap: 30px;
  }
  .text-slot:nth-child(1) {
    text-align: center;
  }

  .text-slot:nth-child(3) {
    text-align: center;
  }
  .text-slot h3 {
    font-size: clamp(30px, 16vw, 120px);
  }
  .slogan_4 {
    padding: 80px 0;
  }
  .container {
    padding: 0 16px;
  }
  .banner_bg h3 {
    font-size: clamp(14px, 3vw, 26px);
  }
  .banner_bg {
    height: 25vh;
  }
  .swiper-slide {
    width: 330px !important;
  }
  .slogan2_wrap {
    gap: 12px;
  }
  .slogan2_wrap h3 {
    font-size: clamp(20px, 5vw, 35px);
  }
  .slogan2_wrap p {
    font-size: clamp(16px, 5vw, 20px);
  }
  .slogan_3_wrap {
    gap: 20px;
  }
  .slogan_3_wrap h3 {
    font-size: clamp(60px, 15vw, 114px);
  }

  .rolling_text {
    font-size: clamp(40px, 10vw, 114px);
  }
  .slogan_4_wrap {
    gap: 20px;
  }

  .contact_btn span {
    font-size: 18px;
  }
  .contact_name span,
  .contact_phone span,
  .contact_etc span {
    font-size: 14px;
  }
  #contact-form input {
    padding: 15px 10px;
    font-size: 12px;
  }
  textarea {
    padding: 15px 10px;
    font-size: 12px;
  }
}
